@import "tailwindcss";

@font-face {
  font-family: "UniversNext";
  src: url("/UniversNext.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "UniversNext", Arial, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
